/*-------------------------------------
| Color Palette

0d1dbd : navy blue
f1ba1a : goldish
bc3335 : redish
-------------------------------------*/

/*-------------------------------------
| index.php CSS
-------------------------------------*/
.navbar.navbar-inverse {
    background-color: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 0;

    padding-bottom: 1em;
}

.navbar button.navbar-toggle {
    border: none;
    margin-top: 24px;
}

.navbar.navbar-inverse .navbar-toggle:hover {
    background-color: #727fbd;
}

.navbar.navbar-inverse .navbar-toggle:focus {
    background-color: #fff;
}

.navbar .navbar-toggle .icon-bar {
   background: #0d1dbd;
}

#myNavbar ul li a {
   color: #0d1dbd;
   padding-left: 2em;
}

#myNavbar ul li.active a{
   background-color: #0d1dbd;
   color: #fff;
}

#myNavbar ul li.dropdown.open {
   background-color: #081599;
}

#myNavbar ul.dropdown-menu li a{
   color: #fff;
}

.navbar.navbar-inverse .navbar-nav>.open>a, .navbar.navbar-inverse .navbar-nav>.open>a:focus, .navbar.navbar-inverse .navbar-nav>.open>a:hover  {
   background-color: #fff;
}

.navbar.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
   border: none;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.pageLinks {
    margin-top: 50px;
}

.contain {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
}

.contain img {
    display: block;
   margin-left: auto;
   margin-right: auto;
}

.contain h2 {
    color: #0d1dbd;
    text-align: center;
}

.contain button {
    border: none;
    background-color: blue;
    padding: 10px 20px 10px 20px;
    margin-top: 1em;
}

.contain button:hover {
    opacity: .7;
}

.contain button a {
    color: #fff;
    font-size: 16px;
}

.contain button a:hover {
    text-decoration: none;
}

.list {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    display: table
}

#listHeader {
    color: #0d1dbd;
    text-align: center;
    padding-bottom: .75em;
}

#extra {
   text-align: center;
   color: #bc3335;
}

@media only screen and (min-width: 768px) {
   .navbar-nav {
      float: left;
      margin-top: 1em;
   }

   #myNavbar ul li a {
      color: #0d1dbd;
      padding-left: 1em;
   }

   #myNavbar ul.dropdown-menu li a {
    color: #0d1dbd;
}

   #myNavbar ul li a:hover {
      color: #fff;
      background-color: #0d1dbd;
      padding-left: 1em;
      opacity: .6;
   }

   #myNavbar ul li.active a{
      background-color: #0d1dbd;
      color: #fff;
   }

	.pageLinks {
		display: flex;
      max-width: 750px;
      margin-left: auto;
      margin-right: auto;
	}

   .pageLinks div.contain {
      padding-left: 2em;
      padding-right: 2em;
      padding-bottom: 2em;
      margin-bottom: 3em;
      height: 400px;
   }

   .parallax {
    /* The image used */
    background-image: url("../img/PremiumSite_imgs/WindowsPage_Imgs/WindowsPage_SlideImg_2.jpg");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   }
}
/*-------------------------------------
| about.php CSS
-------------------------------------*/
.about {
   padding-left: 2em;
   padding-right: 2em;
   padding-bottom: 2em;
}

.parallaxAbout {
/* The image used */
background-image: url("../img/PremiumSite_imgs/AboutPage_Imgs/About_mainImg.jpg");

/* Set a specific height */
height: 500px;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.about h2 {
   color: #0d1dbd;
}

.quote {
   padding-left: 2.5em;
   padding-right: 2.5em;
   padding-bottom: 3em;
   text-align: center;
   color: #0d1dbd;
}

.subAbout {
   padding-left: 2em;
   padding-right: 2em;
}

.subAbout img {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.subAbout p {
   padding-top: 2em;
   padding-bottom: 2em;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

@media only screen and (min-width: 768px) {
   .about {
      padding-left: 20%;
      padding-right: 20%;
      padding-top: 2em;
   }

   .quote {
      padding-left: 33%;
      padding-right: 33%;
      padding-bottom: 3.5em;
   }

   .subAbout {
      display: flex;
      margin-left: auto;
      margin-right: auto;

      padding-left: 1em;
      padding-right: 1em;
   }



   .subAbout2 {
      width: 50%;
      padding-left: 2%;
      padding-right: 2%;
   }
}

/*-------------------------------------
| contact.php CSS
-------------------------------------*/
.parallaxContact {
/* The image used */
background-image: url("../img/PremiumSite_imgs/ContactPage_imgs/Contact_mainImg.jpg");

/* Set a specific height */
height: 500px;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.operationHours {
   padding-left: 2em;
   padding-right: 2em;
   padding-bottom: 2em;
   padding-top: 2em;
}

.operationHours h2 {
   color: #0d1dbd;
}

.directories {
   padding-left: 2em;
   padding-right: 2em;
}

#directoryTitle {
   color: #0d1dbd;
   text-align: center;
   padding-bottom: 1em;
}

.directories h3 {
   color: #f1ba1a;
}

.staff {
   margin-top: 2em;
}

tr {
   display: flex;
}

td.positions {
   flex: 2
}

td {
   flex: 3;
}

td.positions {
   text-align: right;
}

td {
   padding-top: 1em;
   padding-bottom: 1em;
}

.positions span {
   color: #0d1dbd;
   font-weight: bold;
}

#contact {
   padding-left: 1em;
   padding-right: 1em;
   padding-bottom: 2em;
   padding-top: 1.5em;
}

#submitButton {
   background-color: #0d1dbd;
   font-size: 1.5em;
   color: #fff;
   padding: 8px 15px 8px 15px;
   border: none;
   margin-left: -15px;
}

#submitButton:hover {
   background-color: #060f70;
}

#repButton {
   background-color: #0d1dbd;
   font-size: 1em;
   padding: 8px 15px 8px 15px;
   border: none;
}

#repButton a {
   color: #fff;
}

#repButton a:hover {
   text-decoration: none;
}

#repButton:hover {
   background-color: #060f70;
}

@media only screen and (min-width: 768px) {
   .directories {
      display: flex;
   }

   .directories .tables {
      flex: 1;
      padding-left: 2%;
      padding-right: 2%;
   }

   .contact {
      margin-left: 5%;
      margin-right: 5%;
   }
}

/*-------------------------------------
| glass.php CSS
-------------------------------------*/
.modal.and.carousel {
  position: fixed; // Needed because the carousel overrides the position property
}

.modal .fade .and .carousel .slide .in {
   padding-right: 0px;
}

.carousel-caption {
   position: absolute;
   right: 0%;
   bottom: 0px;
   left: 0%;
   z-index: 10;
   padding-top: 20px;
   padding-bottom: 20px;
   color: #fff;
   text-align: center;
   text-shadow: 0 1px 2px rgba(0,0,0,.6);
   background-color: rgba(0,0,0,.5);
}

.carousel-caption2 {
   text-shadow: none;
   background-color: transparent;
}

.carousel-caption p {
   margin: 0px;
}

div.E366 {
   padding-left: 2.5em;
   padding-right: 2.5em;
   padding-bottom: 2em;
}

div.E366 h2 {
   text-align: center;
   color: #0d1dbd;
}

div.glassOption {
   padding-left: 2.5em;
   padding-right: 2.5em;
   padding-bottom: 2em;
}

div.glassOption h2 {
   text-align: center;
   color: #0d1dbd;
}

div.glassOption img {
   text-align: center;
   padding-top: 1em;
   margin-left: -.6em;
}

div.tinted {
   padding-left: 2.5em;
   padding-right: 2.5em;
   padding-bottom: 2em;
}

div.tinted h2 {
   text-align: center;
   color: #0d1dbd;
}

div.tinted img {
   text-align: center;
   padding-top: 1em;
   margin-left: -.6em;
}

@media only screen and (min-width: 768px) {
   .row1 {
      display: flex;
   }

   .E366 {
      flex:1;
   }

   .glassOption {
      flex:1;
   }

   .tinted {
      flex:1;
   }
}

/*-------------------------------------
| windows.php CSS
-------------------------------------*/
div.intro {
   padding-left: 2.5em;
   padding-right: 2.5em;
   padding-bottom: 2.5em;
}

div.intro h2 {
   color: #0d1dbd;
   text-align: center;
}

div.intro p {
   padding-top: 1em;
   padding-bottom: 1.5em;
}

div.intro button {
   background-color: #0d1dbd;
   padding: 10px 20px 10px 20px;
   border: none;
}

div.windowLink {
   padding-bottom: 1em;
   padding-top: 1em;
   text-align: center;
}

div.intro button a {
   color: #fff;
}

div.windowLink p {
   font-size: 1.5em;
   color: #0d1dbd;
}

@media only screen and (min-width: 768px) {
   div.gallery {
      display: block;
      margin-left: auto;
      margin-right: auto;
   }

   div.linkGroup {
      display: flex;
   }

   div.windowLink {
      flex: 1;
   }

   div.intro {
      margin-left: 10%;
      margin-right: 10%;
   }
}

/*-------------------------------------
| doors.php CSS
-------------------------------------*/
div.intro button {
   margin-bottom: 1em;
   margin-right: 1em;
}

@media only screen and (min-width: 768px) {
   div.gallery2 {
      display: flex;
   }
}

/*-------------------------------------
| window-grids.php CSS
-------------------------------------*/
.grids {
   padding-left: 2em;
   padding-right: 2em;
   padding-bottom: 2em;
   text-align: center;
}

.grids h2 {
   color: #0d1dbd;
   padding-bottom: 1em;
   padding-top: .5em;
   text-align: left;
}

.header {
   padding-bottom: 2em;
}

.header .text {
   padding-left: 2em;
   padding-right: 2em;
   padding-bottom: 2em;
}

.header .text h2 {
   color: #0d1dbd;
}

@media only screen and (min-width: 768px) {
   div.text {
      margin-left: 20%;
      margin-right: 20%;

      padding-top: 2em;
   }

   div.grids {
      margin-left: 20%;
      margin-right: 20%;
   }
}

/*-------------------------------------
| frames.php CSS
-------------------------------------*/
.columns {
   padding-left: 2em;
   padding-right: 2em;
   margin-top: 0em;
}

.columns h3 {
   color: #0d1dbd;
}

.frames {
   padding-left: 2em;
   padding-right: 2em;
}

.frames h2 {
   color: #0d1dbd;
   padding-top: .5em;
   padding-bottom: 1em;
}

.frames p {
   text-align: center;
   padding-bottom: 1em;
}

.frames .item img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   padding-bottom: 1em;
}

.frames .extra p {
   text-align: left;
}

.frames .extra img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   padding-bottom: 1em;
}

@media only screen and (min-width: 768px) {
   div.columns {
      display: flex;
   }

   div.column1 {
      flex: 1;
      padding-left: 3%;
      padding-right: 3%;
   }

   div.frames {
      display: flex;
   }

   div.frames .item {
      flex: 1;
   }
}

/*-------------------------------------
| certificates.php CSS
-------------------------------------*/
div.certificates {
   text-align: center;
   padding-top: 2em;
   padding-bottom: 2em;

   display: block;
   margin-left: auto;
   margin-right: auto;
}

div.certificates img {
   padding-bottom: 2em;
}

div.certificates p {
   text-align: left;
}

div.award {
   padding-left: 2em;
   padding-right: 2em;
   padding-bottom: 2em;
}

div.award button {
   border: none;
   background-color: #0d1dbd;
   padding: 10px 20px 10px 20px;
   margin-bottom: 1em;
}

div.warranty {
   padding-left: 2em;
   padding-right: 2em;
   padding-bottom: 2em;

   display: block;
   margin-left: auto;
   margin-right: auto;
}

div.warranty img {
   text-align: center;
   padding-bottom: 2em;
}

div.warranty button {
   border: none;
   background-color: #0d1dbd;
   padding: 10px 20px 10px 20px;
   margin-bottom: 1em;
   margin-top: 1em;
}

div.warranty button a {
   color: #fff;
}

@media only screen and (min-width: 768px) {
   div.certificates {
      display: flex;
   }

   div.award {
      flex:3;
   }

   div.warranty {
      flex:3;
   }
}

/*-------------------------------------
| careers.php CSS
-------------------------------------*/
div.careers {
   padding-left: 2em;
   padding-right: 2em;
   padding-bottom: 2em;
   padding-top: 2em;
}

.parallaxCareers {
/* The image used */
background-image: url("../img/PremiumSite_imgs/CareersPage_Imgs/Careers_MainImg.jpg");

/* Set a specific height */
height: 500px;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

@media only screen and (min-width: 768px) {
   div.careers {
      padding-left: 20%;
      padding-right: 20%;
      padding-top: 10%;
      padding-bottom: 10%;
   }
}

/*-------------------------------------
| door-grids.php CSS
-------------------------------------*/

/*-------------------------------------
| door-hardware.php CSS
-------------------------------------*/
.section {
   padding-left: 2em;
   padding-right: 2em;
   padding-bottom: 2em;
}

.section h2 {
   color: #0d1dbd;
}

.section .items {
   padding-top:1.5em;
   padding-right:1.5em;
}

.section .items h3 {
   color: #0d1dbd;
   text-align: center;
}

.section .items img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   padding-bottom: 2em;
}

div.flexRow {
   display: flex;
}

div.flexRow .flexImg {
   flex: 1;
}

div.flexRow .flexImg img {
   padding-left: .25em;
}

@media only screen and (min-width: 768px) {
   div.sectionItems {
      display: flex;
   }

   div.sectionItems .items {
      flex: 1;
   }

}

/*-------------------------------------
| slidingWindows.php CSS
-------------------------------------*/
.windowGallery .gallery {
   text-align: center;
   margin-top: -5em;
}

/*-------------------------------------
| gardenWindows.php CSS
-------------------------------------*/
.windowList {
   padding-bottom: 1.5em;
}

.windowList h2 {
   color: #0d1dbd;
}

/*-------------------------------------
| slidingPatioDoors.php CSS
-------------------------------------*/
.windowGallery .gallery2 {
   text-align: center;
   margin-top: -2em;
}

div.doorInfo {
   padding-left: 2em;
   padding-right: 2em;
}

div.doorInfo .subtitle h2 {
   color: #0d1dbd;
}

div.petDoor {
   text-align: center;
}

div.petDoor img {
   padding-bottom: 1em;
}

div.doorList {
   padding-bottom: 1.5em;
}

div.doorList h3 {
   color: #0d1dbd;
}

/*-------------------------------------
| la-rep.php CSS
-------------------------------------*/
div.intro2 img{
   display: block;
   margin-left: auto;
   margin-right: auto;
   padding-top: 1em;
   padding-bottom: 1em;
}

div.intro2 {
   padding-left: 2.5em;
   padding-right: 2.5em;
   padding-bottom: 2.5em;
}

div.intro2 h2 {
   color: #0d1dbd;
   text-align: center;
}

div.intro2 p {
   padding-top: 1em;
   padding-bottom: 1.5em;
}

div.intro2 button {
   background-color: #0d1dbd;
   padding: 10px 20px 10px 20px;
   border: none;
}

@media only screen and (min-width: 768px) {
   .parallaxLaRep {
      /* The image used */
      background-image: url("../img/PremiumSite_imgs/LaRepPage_Imgs/LaRep_MainImg.jpg");

      /* Set a specific height */
      height: 500px;

      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
   }

   div.intro2 {
      display: flex;
      margin-top: 2em;
   }

   div.photo {
      flex: 1;
   }

   div.infoRep {
      flex: 2;
      margin-left: 10%;
   }
}

/*-------------------------------------
| request-service.php CSS
-------------------------------------*/
#contactUs {
   padding-left: 3em;
   padding-right: 3em;
   padding-bottom: 2em;
}

#contactUs h2{
   text-align: center;
   color :#0d1dbd;
}

/*-------------------------------------
| footer CSS
-------------------------------------*/
footer {
    background-color: #0d1dbd;
    padding: 1em 2em 1.5em 2em;
    text-align: center;
}

a.policy {
   color: #f1ba1a;
}

.socialLinks {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

i#socialIcons {
   transition: .5s;
   opacity: 1;
}

i#socialIcons:hover {
   opacity: .75;
}

.copyright {
    text-align: center;
    color: #fff;
    padding-top: 1em;
}
